<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink- to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384- ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <title>Hello, world!</title>
</head>
<body>
<div class="container">
    <form role="form" action="/exchange" method="post">
        <div class="form-group">
            <label>송금국가:</label>
            <span>미국(USD)</span>
        </div>

        <div class="form-group">
            <label for="country">수취국가:</label>
            <select name="country" id="country" class="form-control">
                <option th:each="currency : ${currencies}" th:value="${currency.name}"
                        th:text="${currency.name}" th:data="${currency.exchangeRate}"/>
            </select>
        </div>

        <div class="form-group">
            <label>환율:</label>
            <span id="currency_info"></span>
            <button type="button" class="btn btn-primary">환전</button>
        </div>

        <div class="form-group">
            <label>송금액:</label>
            <input id="remittance" type="number" /> <span>USD</span>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>